﻿@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:50px;">
    <div align="right">
        <a href="/Home/ExporttoExcel">Export to Excel</a>
    </div>
    <table class="table table-bordered table-responsive" >
        <thead>
            <tr>
                <th>StudentId</th>
                <th>StudentName</th>
                <th>DateOfBirth</th>
                <th>MarkPercentage</th>
            </tr>
        </thead>
        @{ 
            foreach (System.Data.DataRow dr in ViewBag.details.Rows)
            {
                <tr>
                    <td>@dr["StudentId"]</td>
                    <td>@dr["StudentName"]</td>
                    <td>@dr["DateOfBirth"]</td>
                    <td>@dr["MarkPercentage"]</td>
                </tr>
            }
        }
    </table>
</div>